<html ng-app="booksApp" ng-controller="BooksCtrl as books">

<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/tufte.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/books.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{books.title}}</title>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angular-resource.min.js"></script>
    <script src="javascripts/Books.js"></script>
    <script type="application/javascript">
        angular
                .module("booksApp")
                .constant("BACKEND_URL", "/api/books");
    </script>
</head>

<body>

<section>
    <h1>{{books.title}}</h1>

    <article ng-repeat="book in books.books">
        <a name="{{book.name}}"></a>
        <h2>
            <div ng-repeat="title in book.titles">
                <a ng-if="title.link" href="{{title.link}}" ng-bind-html="title.title | sanitize"></a>
                <span ng-if="!title.link" ng-bind-html="title.title | sanitize"></span>
            </div>
        </h2>

        <header>
            <table class="book-metadata">
                <tbody>
                    <td class="author"><div ng-repeat="author in book.authors" ng-bind-html="author | sanitize"></div></td>
                    <td class="publisher" ng-bind-html="book.publisher | sanitize"></td>
                    <td class="published-year"><div ng-repeat="year in book.years" ng-bind-html="year | sanitize"></div></td>
                </tbody>
            </table>
        </header>

        <div ng-bind-html="book.body | sanitize"></div>

        <footer>
            <table class="reading-metadata">
                <tbody>
                    <tr>
                        <td class="time">Started reading:</td>
                        <td ng-if="book.start" class="time code">{{book.start}}</td>
                        <td ng-if="!book.start" class="no_time">not started</td>
                    </tr>
                    <tr ng-if="book.start">
                        <td class="time">Finished reading:</td>
                        <td ng-if="book.stop" class="time code">{{book.stop}}</td>
                        <td ng-if="!book.stop" class="no_time">in progress</td>
                    </tr>
                </tbody>
            </table>
        </footer>
    </article>
</section>

</body>

</html>
